.userItem__style{
    border-radius: 5px;
    padding: 15px;
   width: 50rem;
   display: flex;
   align-items: center;
   justify-content: center;
   margin: 0 auto;
   background-color: blueviolet;
   border: 1px solid gray;
   box-shadow: 10px 10px 5px 0px rgba(174,25,95,0.75);
   margin-bottom: 15px;
}
.userItem__list{
    list-style: none;
    font-size: 25px;
    line-height: 15px;
}